@font-face {
  font-family: euclid;
  src: url('../fonts/euclid/EuclidCircularA-Light.otf') format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: euclid;
  src: url('../fonts/euclid/EuclidCircularA-Regular.otf') format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: euclid;
  src: url('../fonts/euclid/EuclidCircularA-Semibold.otf') format("opentype");
  font-weight: bold;
}