*,
:before,
:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  // -webkit-backface-visibility: hidden;
}

body {
  font-family: 'euclid', "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

button {
  font-family: 'euclid', "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: transparent;
  font-size: 12px;
  letter-spacing: 1.1px;
  border-radius: 2rem;
  color: white;
  border: 2px solid rgba(255,255,255,0.3);
  padding: 16px 24px;
  padding-top: 18px;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: border-color 0.4s, -webkit-transform 0.4s;
  // margin-right: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;

  @media (max-width: $mobile) {
    font-size: 14px;
    // margin-right: 1rem;
    // margin-bottom: 1rem;
    &:nth-child(2n+1) {
      margin-right: 0rem;
    }
  }
}

button:hover {
  cursor: pointer;
  border-color: white;
}

a:visited {
  color: $vue;
}