<template>
  <Layout>
    <div class="root">
      <hheader/>
      <animation/>
      <div class="pages" id="skrollr-body">
        <!-- <div style="position:fixed;width:100%;height:100%;z-index:9;"></div> -->
        <div class="title left trigger">
          <h1 class="title next-level trigger"
          >Next level medidation guided by visuals & sound.<br><span>Activate your desired state of being. Fast, deep and easy</span>
          </h1>
          <span>Explore our energetic themes.</span>
        </div>
        <div class="buttons">
          <button>Spiritual Growth</button>
          <button>Relaxation</button>
          <button>Purpose</button>
          <button>Health & Wellness</button>
          <button>Self-Relaxation</button>
          <button>Energy Level</button>
          <button>Productivity & Flow</button>
        </div>

      </div>
    </div>
  </Layout>
</template>

<script>
import hheader from '~/components/header.vue'
import animation from '~/components/animation.vue'

export default {
  metaInfo: {
    title: "Home"
  },
  components: {
    hheader,
    animation,
  },
  mounted() {
    // Load skrollr
    let newScript = document.createElement("script");
    newScript.onload = onloadFunction;
    document.head.appendChild(newScript);
    newScript.src = 'https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js';

    function onloadFunction () {
      let s = skrollr.init({
        smoothScrolling: false,
        forceHeight: false,
      });        
    }
  }
};
</script>

<style lang="scss" scoped>
.buttons {
  flex: 1 100%;
  font-size: 26px;
  text-align:left;
  padding: 2rem;
  letter-spacing: 1.1px;
  font-weight: 200;
  font-size: 0.8rem;


  button {
    color: black;
    border: 2px solid black;
  }

    @media (max-width: $mobile) {
      padding: 24px 0px 24px 0px;
    }

}

.pages {
  position: relative;
  min-height: 100vh;
  background: white;
  padding: 0 8rem;

  .title.left {
    padding: 2rem;
    grid-column-start: 3;
    grid-column-end: span 8;
    @media (max-width: $tablet) {
      grid-column-start: 2;
    }
    @media (max-width: $mobile) {
      grid-column-start: 1;
    }
  }

  .title span {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.cards {
  max-width: 750px;
  margin: 0 auto;
  padding: 100px 20px;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.cards > * {
  color: black;
}

.card {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
</style>
