<template>
    <div class="main-wrapper">
        <div id="background"></div>
        <div class="main">
            <h1 class="hero-title">Tune your mood?</h1>
            <div class="circle"
                 data-0="
            top: calc(90vh + 20vmax);
            filter: brightness(20%);"

                 data-20p="
            width: 34vmax;
            height: 34vmax;
            filter: brightness(40%);
            left: 50vw;
            top: calc(50vh + 0vmax);"


                 data-60p="
            width: 100vmax;
            height:100vmax;
            left: 50vw;
            border-radius: 50%;
            filter: brightness(100%);
            clip-path: circle(50% at center);"

                 data-70p="
            clip-path: circle(100% at center);
            border-radius: 0%;"
            >
                <div class="circle-container"
                     data-0="
            top: calc(-60vh + 0vmax);"

                     data-20p="
            top: calc(0vh + 17vmax);"

                     data-60p="
            top: calc(0vh + 50vmax);"
                >
                    <h1 class="title hero-circle trigger"
                        data-90p="transform[begin]: translate(0%, -50%);opacity[begin]: 1;"
                        data-91p="transform[end]: translate(0%, -140%);opacity[end]: 0;"
                    >The only way&nbsp;out is&nbsp;in
                    </h1>
                    <div class="title next-level-container left"
                    data-90p="transform[begin]: translate(0%, 35%);opacity[begin]: 0;"
                    data-91p="transform[end]: translate(0%, -20%);opacity[end]: 1;"

                    data-140p="transform[swing]: translate(0%, -20%);opacity[begin]: 1;"
                    data-141p="transform[swing]: translate(0%, -50%);opacity[end]: 1;"

                    data-185p="transition[begin]: all 1s;"
                    data-189p="transition[end]: all 0s;"
                    data-190p="transform[swing]: translate(0%, -50%);"
                    data-290p="transform[swing]: translate(0%, -110%);"
                    >
                        <h1 class="title next-level" 
                        >Next level medidation guided by visuals & sound.<br>
                        <span
                            class="trigger"
                            data-140p="transform[swing]: translate(0%, 70px);opacity[begin]: 0;"
                            data-141p="transform[swing]: translate(0%, 0%);opacity[end]: 0.8;"
                        >Activate your desired state of being. Fast. Deep.&nbsp;Easy.</span>
                        </h1>
                    </div>

                </div>
            </div>

        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        // Random text
        let texts = ['Tune your mood?', 'Accept yourself?', 'Reduce your stress?', 'Boost your creativity?', 'Enhance your performance?', 'Be here now?', 'Live your purpose?', 'Become your own teacher?', 'From imagination to manifestation?'];
        let max = texts.length;
        let randomIndex = Math.floor(Math.random() * max);
        document.getElementsByClassName('hero-title')[0].innerText = texts[randomIndex];
    }
}
</script>


<style lang="scss" scoped>
// https://github.com/Prinzhorn/skrollr/issues/835
#background {
  position: fixed;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  -webkit-filter: blur(5px);
  z-index: -1;
  background: url('../assets/img/fallback-gradient.jpg');
  background-position: top center;
  background: conic-gradient(from 90deg at 50% calc(2.375rem + 20px), #07EAE3, #6B3E51 25%, #07EAE3);
}

// Safari only
@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance:none) {
        #background {
            filter: blur(0px);
        }
    }
}

$height: 290vh;
.main-wrapper {
    height: $height;
}
.main {
    display: flex;
    flex-flow: column;
    position: fixed;
    width: 100vw;
    height: $height;
    top: 0px;
    bottom: 0px;

    color: white;
    text-align: center;
}

.main .circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    background-image: linear-gradient(#BFA5F9, #00676D);
    border-radius: 50%;
    border: 0px solid #000;
    box-shadow: inset 0px 0px 46px 0px rgba(77, 75, 77, 1);
    transform: translate(-50%, -50%);
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    clip-path: circle(50% at center);
    width: 100vmax;
    height: 100vmax;
}

.circle-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: absolute;
    width: 100vw;
    max-width: 1200px;
    padding: 0px 24px;
    margin: 0 auto;
    @media (max-width: $mobile) {
        grid-template-columns: repeat(8, 1fr);
    }

}

.circle-container  > .title {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    left: 0px;
    right: 0px;
    margin: 0 auto;
}

.title.left {
    grid-column-start: 2;
    grid-column-end: span 10;
    @media (max-width: $mobile) {
        grid-column-start: 1;
        grid-column-end: span 8;
    }
}

.trigger {
    transition: transform 1s, opacity 1s;
}

// All of the text
h1 { 
    padding: 0px 1.2rem;
}

.hero-title {
    @media (min-width: 2000px) {
        font-size: 80px;
        line-height: 90px;
    }

    position: relative;
    font-size: 48px;
    line-height: 52px;
    top: 45vh;
    transform: translate(0%, -50%);

    @media (max-width: $mobile) {
        font-size: 42px;
        line-height: 48px;
    }

    @media (max-width: 370px) {
        font-size: 34px;
        line-height: 40px;
    }
}

.hero-circle {
    @media (min-width: 2000px) {
        font-size: 130px;
        line-height: 150px;
        max-width: 1200px;
    }

    font-size: 95px;
    line-height: 100px;
    max-width: 850px;

    @media (max-width: $mobile) {
        font-size: 78px;
        line-height: 80px;
    }

    @media (max-width: 370px) {
        font-size: 70px;
        line-height: 76px;
    }
}


.next-level {
    // font-size: 4.375rem;
    // line-height: 4.75rem;
    display: inline-block;
    font-size: 70px;
    line-height: 76px;
    font-weight: 600;
    text-align: left;
    margin: 0px;

    span {
        margin-top: 30px;
        display: inline-block;
        font-size: 60px;
        line-height: 66px;
        font-weight: normal;
        letter-spacing: 0px;
        opacity: 0.8;
    }

    @media (max-width: $tablet) {
        font-size: 2.5rem;
        line-height: 2.825rem;

        span {
            font-size: 1.25rem;
            line-height: 1.75rem;
        }
    }

    @media (max-width: $mobile) {
        font-size: 1.875rem;
        line-height: 2.1875rem;

        span {
            font-size:1.4375rem;
            line-height: 2rem;
        }
    }
}


</style>
