<template>
    <div class="header">
        <div class="logo"></div>
    </div>
</template>

<style lang="scss" scoped>
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    width: 14rem;
    height: 4.75rem;
    margin: auto;
    text-align: center;
}
.logo {
    background-image: url('../assets/img/logo-innerspace.png');
    background-size: cover;
    width: 14rem;
    height: 2.3rem;
}
</style>
